*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: $fontFamilyBody;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: $blanco;
}

a {
    color: $negroDark;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

img {
    vertical-align: top;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }

ul {
    list-style: none;
}

.page-container {
    padding: 50px 0;
}

main {
    margin-bottom: 1500px;
}