.footer {
    background-color: $negroLight;
    padding: 50px 0;
    font-family: $fontFamilyMenu;

    &__brand {
        img {
            vertical-align: top;
        }
    }

    &__nav {
        ul {
            li {
                margin-bottom: 25px;
                a {
                    color: $gris;
                    font-size: 13px;
                    text-transform: uppercase;
                    transition: .2s ease color;
                    letter-spacing: 1px;
                    &:hover {
                        color: $rojo;
                    }
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__socialNetworks {
        h3 {
            color: $gris;
            font-size: 18px;
            margin-bottom: 25px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        > div {
            text-align: center;
            a {
                color: $gris;
                font-size: 20px;
                margin-right: 15px;
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    &__backTop {
        a {
            display: inline-block;
            border-radius: 50%;
            background-color: $gris;
            padding: 10px 20px;
            scroll-behavior: smooth;
            transition: .2s ease background-color;
            &:hover {
                cursor: pointer;
                background-color: $rojo;
            }
        }
    }

    &__copyright {
        margin-top: 50px;
        p {
            a {
                text-transform: uppercase;
                color: $gris;
                font-size: 12px;
                letter-spacing: 1px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        text-align: center;
    
        &__brand {
            margin-bottom: 50px;
        }
    
        &__nav {
            margin-bottom: 25px;
            li {
                width: 100%;
                border-bottom: 1px solid #323232;
                padding-bottom: 25px;
            }
        }

        &__backTop {
            margin-top: 50px;
        }
    
    }
}
