$blanco: #ffffff;

$negroDark: #231E20;
$negroLight: #252525;

$gris: #9a9a9a;
$grisLight: #ebebeb;

$rojo: #c42c39;
$rojoHover: #951919;

$fontFamilyMenu: 'Anton', sans-serif;
$fontFamilyBody: 'Neuton', serif;
$fontFamilyTitleSingle: 'Roboto', sans-serif;